$card-border-width: 0.188rem;
$card-spacer-y: 0.5rem;
$card-spacer-x: 1rem;

$table-cell-padding: 1rem;
$table-cell-padding-sm: 0.75rem;

@import "argon";

table,
.table {
    td,
    th,
    thead th,
    tbody th,
    tbody td {
        border: none;
        font-size: $font-size-sm;
    }

    th {
        background-color: $gray-100;
    }

    thead th {
        border-top: $table-border-width solid $table-border-color;
    }

    td,
    tbody th,
    tbody td {
        border-bottom: $table-border-width solid $table-border-color;
    }

    tr:first-child {
        th,
        td {
            border-top: $table-border-width solid $table-border-color;
        }
    }
}

.table-sm {
    td,
    th,
    thead th,
    tbody th,
    tbody td {
        font-size: $font-size-xs;
    }
}

.table-bordered {
    td,
    th,
    thead th,
    tbody th,
    tbody td {
        border-right: $table-border-width solid $table-border-color;
    }
}

.sorting,
.sorting_asc,
.sorting_desc {
    background-clip: padding-box;
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
        bottom: 1.2rem;
        display: block;
        position: absolute;

        .table-sm & {
            bottom: 0.9rem;
        }
    }

    &::before {
        content: "\2191";
    }

    &::after {
        content: "\2193";
    }
}

[dir="ltr"] .sorting,
[dir="ltr"] .sorting_asc,
[dir="ltr"] .sorting_desc {
    &::before {
        right: 0.85em;
    }

    &::after {
        right: 0.5em;
    }
}

[dir="rtl"] .sorting,
[dir="rtl"] .sorting_asc,
[dir="rtl"] .sorting_desc {
    &::before {
        left: 0.85em;
    }

    &::after {
        left: 0.5em;
    }
}

.sorting {
    &::before,
    &::after {
        opacity: 0.3;
    }
}

.sorting_asc {
    &::before {
        opacity: 1;
    }

    &::after {
        opacity: 0.3;
    }
}

.sorting_desc {
    &::before {
        opacity: 0.3;
    }

    &::after {
        opacity: 1;
    }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
      &:hover {
          background-color: lighten(theme-color(#{$color}), 5%);
      }
  }
}

.btn-link {
    padding: 0;
}

.card {
    border-color: rgba($black, .05);
    margin-bottom: 0.625rem;

    .card-header {
        background-color: rgba($black, .05);
        border-bottom: none;
        font-weight: $font-weight-extra-bold;

        &[id^=name-header-] {
            font-size: $font-size-lg;
        }

        &#name-header-add {
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
        }
    }
}

#secondary-header {
    background-color: theme-color("default");
    color: theme-color("white");
    @include font-size($font-size-sm);
    padding: 0.313rem 0;

    .wt-header-content {
        align-items: center;

        ul.wt-user-menu {
            margin: 0 2.5rem 0 0;

            & > li {
                & > a {
                    color: theme-color("white");
                    display: inline-block;
                    padding: 0.625rem 1.25rem;

                    &:hover {
                        color: darken(theme-color("white"), 20%);
                    }
                }
            }
        }

        .wt-header-search {
            .wt-header-search-field {
                height: auto;
            }

            .wt-header-search-button {
                padding: 0.625rem 0.75rem;
            }
        }
    }
}

#primary-header {
    background-color: theme-color("default");
    box-shadow: 0 10px 20px rgba(50, 50, 93, .2);
    left: 0;
    padding: 1.25rem 0;
    right: 0;
    top: 0;
    z-index: 1001;

    .wt-header-content {
        align-items: center;

        .wt-site-title {
            color: theme-color("white");
            flex-basis: content;
            font-size: 2rem;
            font-weight: 800;
            margin-bottom: 0;

            a {
                color: theme-color("white");

                &:hover {
                    color: darken(theme-color("white"), 20%);
                }
            }
        }

        .wt-primary-navigation {
            flex-basis: content;

            ul.wt-genealogy-menu {
                justify-content: right;

                & > li {
                    & > a {
                        color: theme-color("white");
                        padding: 0.75rem;

                        &:hover {
                            color: darken(theme-color("white"), 20%);
                        }
                    }
                }
            }
        }
    }
}

#content {
    padding-top: 3rem;
}

#site-footer {
    background-color: theme-color("secondary");
    font-size: $font-size-sm;
    padding: 2.5rem 0;
    text-align: center;
}

.list-group {
    a.list-group-item {
        border-right: none;
        border-left: none;
        border-radius: 0;
        font-size: $font-size-sm;
    }
}
